body {
  background: transparent;
}

#fl-widget-provider {
  border: 0;
  width: 100%;
  height: 350px;
  background-color: transparent;
}

.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#link-actions {
  overflow: hidden;
}