body {
  background: transparent;
}

#widget-form-container .form-horizontal {
  height: 100%;
  padding: 15px;
  overflow: auto;
}

#fl-widget-provider {
  border: 0;
  width: 100%;
  height: 350px;
  background-color: transparent;
}

.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#link-actions {
  overflow: hidden;
}

.alert-warning u {
  cursor: pointer;
}

.help-icon {
  font-size: 16px;
  margin-left: 8px;
  color: #333;
  opacity: 0.5;
}

header {
  padding-bottom: 0.5em;
}

.header-wrapper p {
  flex: none;
  margin: 0;
}
